<h1>Create your profile</h1>
<%= render "places/form" %>
<h2>This info will be hidden unless you schedule a showing.</h2>
<h2>In that case, the oerson with the place will see this in order to make a decision about a showing</h2>
<%= render "places/hidden" %>