<div class="nav">
  <% if signed_in? %>
  <%= image_tag("domiapp.png", :alt => "Domi") %>
  <li><%= link_to current_user.name, dashboard_path %></li>
  <li><%= link_to "Signout", session_path, method: :delete %></li>
  <% else %>
  <li><%= link_to "Signin", new_session_path %></li>
  <% end %>
</div>